#general files
.dockerignore
.editorconfig
.gitignore
.gitattributes
env.example
.env.test
Dockerfile
dev.Dockerfile
docker-compose.yml
LICENSE

**/*.md
**/*_test.go
*.out
**/.DS_Store



# folders
.idea/
.git/
.github/
build/
vendor/
